*{

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}



header {background-image: url("img/5.jpeg");
    background-position:bottom;
    height:100vh;
        ;background-size: cover ;
        background-repeat: no-repeat;

            
}

a {text-decoration: none;;}


 .hero {display: grid;grid-template-columns: repeat(3,1fr);
    align-items: center; padding:  20px; 
    gap: 1em;
    max-width: 800px;

    margin: 0 auto;
    text-align: center;
}


.neav-area {display: grid;grid-template-columns: repeat(5,1fr );}

.neav-area li {list-style: none;padding: 0 15px;text-transform: uppercase;}

.neav-area li a { color:black;}


.neav-area li a:hover {color:crimson;}



.btn-area {border-radius: 5px; color: #fff;background-color:darkcyan;

    padding: 10px 30px ;letter-spacing: 2px;text-align: center;}


    .btn-area:hover {background-color: darkgray;color: black;}


    @media (max-width:767px){

        header .hero, .neav-area {display: inline;text-align: center;}

        .neav-area li {padding: 5px;}





        .btn-area {text-align: center;display: block;}

    }